# Operators

### Arithmetic operators

In [68]:
# Arithmetic operators are used with numeric values to perform common mathematical operations
# example: +, -, *, /
x = 4
y = 3
x + y

7

In [69]:
x*y

12

In [61]:
x ** 2

16

### Assignment operators

In [62]:
# Assignment operators are used to assign values to variables
# example: = ,+=, -=, *=
x = 4
x += 1
x

5

### Comparison operators

In [63]:
# Comparison operators are used to compare two values
# example: ==, !=, <, <=
x = 4
y = 4
x == y

True

### Logical operators

In [64]:
# Logical operators are used to combine conditional statements
# example: and, or , not
x = 4
y = 4
print(x == 3 and x < 10)
print(x == 3 or x < 10)
print(not(x == 3 or x < 10))

False
True
False

### Identity Operators

In [65]:
# Identity operators are used to compare the objects, not if they are equal, 
# but if they are actually the same object, with the same memory location
# example: is, is not
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x is z)
print(x is y)
print(x is not y)

True
False
True

### Membership Operators

In [66]:
# Membership operators are used to test if a sequence is presented in an object
# example: in, not in
x = [1, 2, 3]
print(5 in x)
print(5 not in x)

False
True

# Loops

## 1- While Loop

In [2]:
x = 1
while x <= 10:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

## 2- for Loop

In [3]:
numbers = [0, 1, 2]
for num in numbers:
    print(num)

0
1
2

### range() Function

In [17]:
for num in range(1, 3):
    print(num)

1
2

In [18]:
for num in range(1, 10, 5): #(start, end, gap)
    print(num)

1
6

### Nested Loops

In [22]:
numbers = [1, 2]
letters = ["A", "B", "C"]

for num in numbers:
    for letter in letters:
        print(num, letter)

1 A
1 B
1 C
2 A
2 B
2 C

### continue Statement

In [19]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        continue
    print(num," is odd")

1  is odd
3  is odd
5  is odd

### break Statement

In [20]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        break
    print(num," is odd")

1  is odd

### pass Statement

In [73]:
for x in [0, 1, 2]:
    pass

# Functions

In [27]:
def sum():
    firstNumber = 1 
    secondNumber = 9 
    print(firstNumber + secondNumber)
sum() # Calling the Function

10

## Arguments and Parameters

In [28]:
def sum(firstNumber, secondNumber): # Parameters
    print(firstNumber + secondNumber)
sum(1, 9) # Arguments

10

## lambda

In [35]:
sum = lambda firstNumber, secondNumber : firstNumber + secondNumber
print(sum(1, 9))

10