# Collections

## First: Lists

In [1]:
lst = ["A", "B", "C"]
lst2 = ["A", 2, 3.5, False] # A list can contain different data types
print(lst)
print(lst2)

['A', 'B', 'C']
['A', 2, 3.5, False]

In [2]:
lst = list(("A", "B", "C"))
print(lst)

['A', 'B', 'C']

In [3]:
# List Items
print(lst[2])
# Negative Indexing
print(lst[-2])
# Range of Indexes
print(lst[0:1])
print(lst[:2])
print(lst[:1])

C
B
['A']
['A', 'B']
['A']

In [4]:
# Ordered
# When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
# If you add new items to a list, the new items will be placed at the end of the list.

# Changeable
# The list is changeable, meaning that we can change, add, and remove items in a list after it has been created
lst.append('D')
print(lst)

['A', 'B', 'C', 'D']

In [5]:
# Allow Duplicates
lst.append('C')
print(lst)

['A', 'B', 'C', 'D', 'C']

In [6]:
#List Length
print(len(lst))

5

In [7]:
# Check if Item Exists
if 'E' in lst:
    print("yes")
else:
    print("no")

no

In [8]:
# Change Item Value
lst[0]="Z"
print(lst)

['Z', 'B', 'C', 'D', 'C']

In [9]:
# insert() >> insert a new list item, without replacing any of the existing values
lst.insert(2, "Y")
print(lst)

['Z', 'B', 'Y', 'C', 'D', 'C']

In [10]:
# append() Method
lst.append("E")
print(lst)

['Z', 'B', 'Y', 'C', 'D', 'C', 'E']

In [11]:
lst_copy = lst.copy()
print(lst_copy)

['Z', 'B', 'Y', 'C', 'D', 'C', 'E']

In [12]:
# You cannot copy a list simply by typing list2 = list1, 
# because: list2 will only be a reference to list1, 
# and changes made in list1 will automatically also be made in list2.
list1 = [1,2,3]
list2 = list1
print(list1)
print(list2)
list2[2] = 5
print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3]
[1, 2, 5]
[1, 2, 5]

In [13]:
# clear() Method
lst_copy.clear()
print(lst_copy)

[]

In [14]:
# remove() Method
lst.remove("Z")
print(lst)

['B', 'Y', 'C', 'D', 'C', 'E']

In [15]:
# pop() Method
lst.pop(0)
print(lst)

['Y', 'C', 'D', 'C', 'E']

In [16]:
# del Method
del lst[0]
print(lst)

['C', 'D', 'C', 'E']

In [17]:
# reverse() Method
lst.reverse()
print(lst)

['E', 'C', 'D', 'C']

In [18]:
# sort() Method
lst.sort(reverse=False)
print(lst)

['C', 'C', 'D', 'E']

In [19]:
# extend() Method
lst.extend(lst2)
print(lst)

['C', 'C', 'D', 'E', 'A', 2, 3.5, False]

In [20]:
# Join Two Lists
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [21]:
# index() Method
print(lst.index('E'))

3

In [22]:
# count() Method
print(lst.count('E'))

1

In [23]:
# loop lists
for item in lst:
    print(item)

C
C
D
E
A
2
3.5
False

In [24]:
for item in range(len(lst)):
    print(lst[item])

C
C
D
E
A
2
3.5
False

In [25]:
i = 0
while i < len(lst):
    print(lst[i])
    i = i + 1

C
C
D
E
A
2
3.5
False

In [26]:
# List Comprehension offers the shortest syntax for looping through lists
# newlist = [expression for item in iterable if condition == True]
[print(x) for x in lst]

C
C
D
E
A
2
3.5
False

[None, None, None, None, None, None, None, None]

In [27]:
lst = ["Ahmed", "Sara", "Amal"]
newlst = []
for item in lst:
    if "a" in item:
        newlst.append(item)
print(newlst)

['Sara', 'Amal']

In [28]:
newlst2 = []
newlst2 = [item for item in lst if "a" in item]
print(newlst2)

['Sara', 'Amal']

## Second: Tuples

In [29]:
t = ("A", "B", "C")
print(t)

('A', 'B', 'C')

In [30]:
# Access an item
print(t[1])
# Negative and range Indexing 
print(t[1:-1])

B
('B',)

In [31]:
print(type(t[1]))
# Negative and range Indexing 
print(type(t[1:-1]))

<class 'str'>
<class 'tuple'>

In [32]:
# Once a tuple is created, you cannot change its values. 
# Tuples are unchangeable, or immutable as it also is called.
t[0]="K"
print(t)

TypeError: 'tuple' object does not support item assignment

In [33]:
t

('A', 'B', 'C')

In [34]:
# Allow Duplicates
t = ("A", "B", "C", "B")
print(t)

('A', 'B', 'C', 'B')

In [35]:
# to change tuple values, you can:
# 1- Convert the tuple into a list to be able to change it:
t2 = list(t)
t2[3] = "D"
t = tuple(t2)
print(t)
# 2- Add tuple to a tuple.
t3 = ("E",)
t += t3
print(t)

('A', 'B', 'C', 'D')
('A', 'B', 'C', 'D', 'E')

In [36]:
# Unpacking a Tuple
t4 = ("A", "B", "C")
(x, y, z) = t4
print(x)
print(y)
print(z)

A
B
C

In [37]:
# Using Asterisk*
print(t)
(A, B, *C) = t
print(A)
print(B)
print(C)

('A', 'B', 'C', 'D', 'E')
A
B
['C', 'D', 'E']

In [38]:
# The count() method returns the number of times a specified value appears in the tuple.
t = ('A', 'B', 'C', 'D', 'E', 'A')
print(t.count("A"))

2

In [39]:
# The index() method finds the first occurrence of the specified value.
print(t.index("A"))

0

## Third: Sets

In [40]:
s = {'A', 'B', 'C', 'D', 'E', 'A'}
print(s)
# Unordered >> items can appear in a different order every time you use them, 
# and cannot be referred to by index.
# Duplicates Not Allowed
# Unchangeable

{'B', 'A', 'D', 'C', 'E'}

In [41]:
# Access Items by loop
s = {'A', 'B', 'C', 'D', 'E', 'A'}
for x in s:
    print(x)

B
A
D
C
E

In [42]:
# add() method to add one item
s.add("X")
print(s)

{'B', 'A', 'D', 'X', 'C', 'E'}

In [43]:
# Add Sets or any iterable object (tuples, lists, dictionaries etc.).
s2 = {'Y', 'Z'}
s.update(s2)
print(s)

lst = ['M', 'N']
s.update(lst)
print(s)

{'Z', 'B', 'A', 'D', 'Y', 'X', 'C', 'E'}
{'Z', 'N', 'M', 'B', 'A', 'D', 'Y', 'X', 'C', 'E'}

In [44]:
s.remove("X")
print(s)

{'Z', 'N', 'M', 'B', 'A', 'D', 'Y', 'C', 'E'}

In [45]:
s.discard("Y")
print(s)

{'Z', 'N', 'M', 'B', 'A', 'D', 'C', 'E'}

# What is the difference between discard and remove?

In [46]:
s.discard("r")
print(s)

{'Z', 'N', 'M', 'B', 'A', 'D', 'C', 'E'}

In [47]:
s.remove("r")
print(s)

KeyError: 'r'

In [48]:
# pop() method will remove the last item. 
# As that sets are unordered, so you will not know what item that gets removed.
x = s.pop()
print(x)
print(s)

Z
{'N', 'M', 'B', 'A', 'D', 'C', 'E'}

In [49]:
x = s.pop()
print(x)
print(s)

N
{'M', 'B', 'A', 'D', 'C', 'E'}

In [50]:
x = s.pop()
print(x)
print(s)

M
{'B', 'A', 'D', 'C', 'E'}

In [51]:
x = s.pop()
print(x)
print(s)

B
{'A', 'D', 'C', 'E'}

In [52]:
# clear() method empties the set
s.clear()
print(s)

set()

In [53]:
# The del keyword will delete the set completely
s = {'Y', 'Z'}
print(s)
del s

{'Y', 'Z'}

In [54]:
s = {1, 8, 10, 20}
print(min(s))
print(max(s))

1
20

## Forth: Dictionaries

In [55]:
# Ordered
dict1 = {
  "Name": "Sara",
  "B.O.D": 1995,
  "Age": 26 
}
print(dict1)
print(len(dict1))

{'Name': 'Sara', 'B.O.D': 1995, 'Age': 26}
3

In [56]:
# Duplicates Not Allowed
dict1 = {
  "Name": "Sara",
  "B.O.D": 1995,
  "Age": 26,
  "Age": 26
}
print(dict1)

{'Name': 'Sara', 'B.O.D': 1995, 'Age': 26}

In [57]:
dict1 = {
  "Name": "Sara",
  "B.O.D": 1995,
  "Age": 26,
  "Age2": 26
}
print(dict1)

{'Name': 'Sara', 'B.O.D': 1995, 'Age': 26, 'Age2': 26}

In [58]:
# Changeable
dict1["Blood Type"] = "B"
print(dict1)

{'Name': 'Sara', 'B.O.D': 1995, 'Age': 26, 'Age2': 26, 'Blood Type': 'B'}

In [59]:
# Accessing Items
x = dict1["Name"]
print(x)

x = dict1.get("Name")
print(x)

Sara
Sara

In [60]:
print(dict1.items())

dict_items([('Name', 'Sara'), ('B.O.D', 1995), ('Age', 26), ('Age2', 26), ('Blood Type', 'B')])

In [61]:
print(dict1.keys())

dict_keys(['Name', 'B.O.D', 'Age', 'Age2', 'Blood Type'])

In [62]:
print(dict1.values())

dict_values(['Sara', 1995, 26, 26, 'B'])

In [63]:
x = dict1.values()
print(x) #before the change

dict1["B.O.D"] = 1994
print(x) #after the change

dict_values(['Sara', 1995, 26, 26, 'B'])
dict_values(['Sara', 1994, 26, 26, 'B'])

In [64]:
dict1.update({"Name": "Reem"})
print(dict1)

{'Name': 'Reem', 'B.O.D': 1994, 'Age': 26, 'Age2': 26, 'Blood Type': 'B'}

In [65]:
# pop() method removes the item with the specified key name
dict1.pop("Blood Type")
print(dict1)

{'Name': 'Reem', 'B.O.D': 1994, 'Age': 26, 'Age2': 26}

In [66]:
# popitem() method removes the last inserted item
dict1.popitem()
print(dict1)

{'Name': 'Reem', 'B.O.D': 1994, 'Age': 26}

In [67]:
# del keyword removes the item with the specified key name
del dict1["B.O.D"]
print(dict1)
# The del keyword can also delete the dictionary completely
del dict1
print(dict1)

{'Name': 'Reem', 'Age': 26}

NameError: name 'dict1' is not defined

In [68]:
# clear() method empties the dictionary
dict1 = {
  "Name": "Sara",
  "B.O.D": 1995,
  "Age": 26 
}
print(dict1)
dict1.clear()
print(dict1)

{'Name': 'Sara', 'B.O.D': 1995, 'Age': 26}
{}

In [69]:
dict1 = {
  "Name": "Sara",
  "B.O.D": 1995,
  "Age": 26 
}

for x in dict1:
    print(x)

Name
B.O.D
Age

In [70]:
for x in dict1.keys():
    print(x)

Name
B.O.D
Age

In [71]:
for x in dict1:
    print(dict1[x])

Sara
1995
26

In [72]:
for x in dict1.values():
    print(x)

Sara
1995
26

In [73]:
for x in dict1:
    print(x)

Name
B.O.D
Age

In [74]:
name = "amal"
name2 = "khaled"
print(name +" "+ name2)
print(name, name2)

amal khaled
amal khaled

In [75]:
dict2 = dict1.copy()
print(dict2)

{'Name': 'Sara', 'B.O.D': 1995, 'Age': 26}

In [76]:
dict1 = {'Name': 'Sara', 'B.O.D': 1995, 'Age': 26}
dict3 = dict(dict1)
print(dict3)

{'Name': 'Sara', 'B.O.D': 1995, 'Age': 26}

In [77]:
dict3['Name'] = 'S'
print(dict1)

{'Name': 'Sara', 'B.O.D': 1995, 'Age': 26}

In [78]:
# Nested Dictionaries
dict4 = {
    
    "student1": {
        "Name": "Sara",
        "B.O.D": 1995,
        "Age": 26 
    },
    
    "student2": {
        "Name": "Ahmed",
        "B.O.D": 1998,
        "Age": 23 
    }
 
}

print(dict4)

{'student1': {'Name': 'Sara', 'B.O.D': 1995, 'Age': 26}, 'student2': {'Name': 'Ahmed', 'B.O.D': 1998, 'Age': 23}}

In [79]:
student1 = {
        "Name": "Sara",
        "B.O.D": 1995,
        "Age": 26 
    }
    
    
student2 = {
        "Name": "Ahmed",
        "B.O.D": 1998,
        "Age": 23 
    }

dict4 = {
     "student1": student1,
     "student2": student2
}
print(dict4)

{'student1': {'Name': 'Sara', 'B.O.D': 1995, 'Age': 26}, 'student2': {'Name': 'Ahmed', 'B.O.D': 1998, 'Age': 23}}